.paragraphe {
    color: white;
    font-size: 20px;
    text-align: center;
}
.footer {
    margin-top: 10px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 10px;
}
main {
    margin: 5px;
    background-color: lightseagreen;
}
.nav {
    background-color: darkcyan;
    padding: 10px;
    text-align: center;
}